@{
    ViewBag.Title = "Home Page";
}

<div id="content" ng-controller="polizasController">

    {{productsCollection.length}}
</div>



@section JavaScript{

    <script src="~/app/polizas/polizas.config.js"></script>
    <script src="~/app/services/baseSvc.js"></script>
    <script src="~/app/polizas/polizas.facade.js"></script>
    <script src="~/app/polizas/polizas.controller.js"></script>
}
