
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Login/css")


<div class="wrapper" ng-controller="loginController">
    <form class="form-signin">
        <h2 class="form-signin-heading">Seguros</h2>

        <div class="form-group">
            <label for="Usuario">Usuario:</label>
            <input type="text" class="form-control" ng-model="usuario.Email" autofocus="">

        </div>
        <div class="form-group">
            <label for="Clave">Clave:</label>
            <input type="password" class="form-control" ng-model="usuario.Password" autofocus="">

        </div>


        @*<label class="checkbox">
                <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
            </label>*@
        <button class="btn btn-lg btn-primary btn-block" ng-click="Ingresar()">Ingresar</button>
    </form>
</div>


@Scripts.Render("~/Login/js")